<html>
    <head>
        <link type="text/css" href="/Css/Common.css" rel="stylesheet" />
    </head>
    <body>
        <div class="link-panel">
            <a href="http://www.tohoho-web.com/css/index.htm" class="title">とほほのWWW入門(CSSリファレンス)</a>
            <div style="font-size:14px;">
                CSSのいろいろなリファレンスです。
            </div>
        </div>
    </body>
</html>