<html>
    <head>
        <link type="text/css" href="/Css/Common.css" rel="stylesheet" />
    </head>

    <body>
        <div class="title">Takenoko Programing!!!</div>

        <div class="link-panel">
            <a href="/Image/List" class="title">画像の一覧</a>
            <div style="font-size:14px;">
                画像の一覧のページです。
            </div>
        </div>
        <div class="link-panel">
            <a href="/Style/Sample" class="title">スタイルのサンプルページです</a>
            <div style="font-size:14px;">
                スタイルのサンプルのページです。
            </div>
        </div>
        <div class="link-panel">
            <a href="/Link/List" class="title">便利なページへのリンク集</a>
            <div style="font-size:14px;">
                HTML,CSS,JavaScriptなどの情報を集めた便利なリンク集です。
            </div>
        </div>

    </body>
</html>

