<html>
    <head>

    </head>
    <body>
        <div style="color:#ff0cf3;font-size:72px;font-family:'Century Gothic';font-weight:bold;">Takenoko Programing!!!</div>

        <div>
            <a href="/Image/List">画像の一覧</a><br />
            <a href="/Style/Sample">スタイルのサンプルページです</a><br />
        </div>
    </body>
</html>

