<html>
<head></head>
<body>
    <h2>スタイルのサンプルページです。</h2>

    <h3>レイアウト</h3>
    <div style="background-color:#f0f0f0;padding:10px;margin-bottom:20px;line-height:1.8;">
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
    </div>

    <h3>フォント</h3>
    <div style="background-color:#f0f0f0;padding:10px;font-size:24px;font-family:'Century Gothic';font-weight:bold;font-style:italic;">
        Hello World!!<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
        内容<br />
    </div>

    <h3>色</h3>
    <div style="background-color:#eaeaff;color:#0082ff;padding:10px;">
        背景色・文字色
    </div>

    <h3>境界線</h3>
    <div style="background-color:#f0f0f0;border:solid 1px #336699;padding:10px;">
        ボーダー
    </div>
    <div style="background-color:#f0f000;border:solid 4px #ffcc00;padding:10px;margin-top:20px;">
        ボーダー
    </div>
    <div style="background-color:#f0f000;border:dotted 4px #ffcc00;padding:10px;margin-top:20px;">
        ボーダー
    </div>
    <div style="background-color:#f0f000;border:inset 4px #ffcc00;padding:10px;margin-top:20px;">
        ボーダー
    </div>
    <div style="background-color:#f0f000;border:outset 4px #ffcc00;padding:10px;margin-top:20px;">
        ボーダー
    </div>
    <div style="background-color:#f0f000;border:groove 4px #ffcc00;padding:10px;margin-top:20px;">
        ボーダー
    </div>

    <h3>大きさ</h3>
    <div style="background-color:#f0f0f0;width:300px;height:200px;padding:10px;">
        大きさの指定
    </div>


</body>
</html>