.property-panel {
  margin-bottom: 20px; }
  .property-panel .property-name {
    color: #555555; }
  .property-panel input[type=text],
  .property-panel input[type=password] {
    font-size: 20px;
    padding: 10px;
    border: solid 1px #aaaaaa; }

.button-list-panel input[type=button] {
  font-size: 32px;
  padding: 12px;
  background-color: #0066aa;
  color: #ffffff;
  border: solid 1px #003366;
  cursor: pointer; }
  .button-list-panel input[type=button]:hover {
    background-color: #66aaff; }
