.property-panel {
    margin-bottom: 20px;

    .property-name {
        color: #555555;
    }

    input[type=text],
    input[type=password] {
        font-size: 20px;
        padding: 10px;
        border: solid 1px #aaaaaa;
    }
}

.button-list-panel {
    input[type=button] {
        font-size: 32px;
        padding: 12px;
        background-color: #0066aa;
        color: #ffffff;
        border: solid 1px #003366;
        cursor: pointer;

        &:hover {
            background-color: #66aaff;
        }
    }
}

