<html>
<head>
    <link rel="stylesheet" href="/Views/Blog/Login.css" />
</head>
<body>
    <div class="edit-panel">
        <div class="property-panel">
            <div class="property-name">メールアドレス</div>
            <input type="text" name="MailAddress" value="" />
        </div>
        <div class="property-panel">
            <div class="property-name">パスワード</div>
            <input type="password" name="Password" />
        </div>

        <div class="button-list-panel">
            <input type="button" id="LoginButton" value="ログイン" />
        </div>

    </div>

    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", event => {
            var button = document.querySelector("#LoginButton");

            button.addEventListener("click", event => {
                var mailAddress = document.querySelector("[name='MailAddress']").value;
                var password = document.querySelector("[name='Password']").value;
                var p = {};
                p.MailAddress = mailAddress;
                p.Password = password;
                var json = JSON.stringify(p);
                alert(json);
            });
        });


    </script>
</body>
</html>

