<html>
<head>
    <link href="/Css/Common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>Cookieのページです。</div>
    <div>@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss.fff")</div>
</body>
</html>


