<html>
<head>
    <title>HtmlElementQuery.tsを作成するためのページです</title>
</head>
<body>
    <div class="card-panel">パネル1</div>
    <div class="panel">パネル2</div>
    <div class="panel">パネル3</div>
    <script src="~/JavaScript/HtmlElementQueryPage.js" type="module"></script>
</body>
</html>