<html>
<head>
    <link href="/Css/Common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="property-panel">
        <div class="property-name">名前</div>
        <input type="text" name="DisplayName" />
    </div>
    <div class="property-panel">
        <div class="property-name">パスワード</div>
        <input type="password" name="Password" />
    </div>

    <div class="button-list-panel">
        <input type="button" name="LoginButton" value="ログイン" />
    </div>
</body>
</html>


