@model WebAppMySns.UserRecord

<html>
    <head>
        <title>プロフィールページです</title>
        <link rel="stylesheet" href="~/Css/Common.css" />
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td class="property-name">名前</td>
                    <td>@Model.DisplayName</td>
                </tr>
                <tr>
                    <td class="property-name">ID</td>
                    <td>@Model.ID</td>
                </tr>
                <tr>
                    <td class="property-name">Twitter</td>
                    <td>
                        <a href="https://twitter.com/@Model.Twitter" target="_blank">Twitter</a>
                    </td>
                </tr>
                <tr>
                    <td class="property-name">Facebook</td>
                    <td>
                        <a href="https://facebook.com/@Model.Facebook" target="_blank">Facebook</a>
                    </td>
                </tr>
                <tr>
                    <td class="property-name">Youtube</td>
                    <td>
                        <a href="https://youtube.com/channel/@Model.Youtube" target="_blank">Youtube</a>
                    </td>
                </tr>
                <tr>
                    <td class="property-name">Instagram</td>
                    <td>
                        <a href="https://instagram.com/@Model.Instagram" target="_blank">Instagram</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
