<html>
<head>
    <title>Sample1.tsを作成するためのページです</title>
    <link href="/Css/Sample1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="Panel1">
        <div class="panel">パネル1</div>
        <div class="panel">パネル2</div>
        <div class="panel">パネル3</div>
    </div>
    <div id="Panel2">
        <div class="panel">パネル1</div>
        <div class="panel">パネル2</div>
        <div class="panel">パネル3</div>
    </div>
    <div id="Panel3">
        <input type="button" id="ColorChangeButton" value="Colorchange" />
        <div>

        </div>
        <input  type="text" id="ColorText" />

        <div class="panel">パネル1</div>
        <div class="panel">パネル2</div>
        <div class="panel">パネル3</div>

    </div>
    <script src="~/JavaScript/Sample1Page.js" type="module"></script>
</body>
</html>