<html>
<head>
    <link href="/Css/Common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="property-panel">
        <div class="property-name">名前</div>
        <input type="text" name="DisplayName" value="鈴木太郎" />
    </div>
    <div class="property-panel">
        <div class="property-name">Twitter</div>
        <input type="text" name="Twitter" />
    </div>
    <div class="property-panel">
        <div class="property-name">Facebook</div>
        <input type="text" name="Facebook" />
    </div>
    <div class="property-panel">
        <div class="property-name">Instagram</div>
        <input type="text" name="Instagram" />
    </div>
    <div class="property-panel">
        <div class="property-name">Youtube</div>
        <input type="text" name="Youtube" />
    </div>

    <div class="button-list-panel">
        <input type="button" name="SaveButton" value="保存" />
    </div>
    
    <script src="~/JavaScript/Signup.js"></script>

</body>
</html>


