<html>
<head>
    <style type="text/css">
        .property-panel {
            background-color: #e0e0f2;
            margin: 5px 0 10px 0;
            padding: 16px;
        }
    </style>
</head>
<body>
    <div class="property-panel">
        <div class="property-name">名前</div>
        <input type="text" name="DisplayName" />
    </div>
    <div class="property-panel">
        <div class="property-name">Twitter</div>
        <input type="text" name="Twitter" />
    </div>
    <div class="property-panel">
        <div class="property-name">Facebook</div>
        <input type="text" name="Facebook" />
    </div>
    <div class="property-panel">
        <div class="property-name">Instagram</div>
        <input type="text" name="Instagram" />
    </div>
    <div class="property-panel">
        <div class="property-name">Youtube</div>
        <input type="text" name="Youtube" />
    </div>

    <div class="button-list-panel">
        <input type="button" name="SaveButton" value="保存" />
    </div>
</body>
</html>


