<html>
<head>
    <title>スライムを表示するページです</title>
    <link href="/Css/Slime.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <span>青</span>
        <input type="text" id="BlueTextBox" value="#0b9baf" />
        <span>白</span>
        <input type="text" id="WhiteTextBox" value="#ffffff" />
        <span>赤</span>
        <input type="text" id="RedTextBox" value="#da349c" />
    </div>
    <button id="StartButton">Start</button>

    <div id="SlimePanel">
    </div>

    <script src="~/JavaScript/Slime.js"></script>
</body>
</html>